@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css or any CSS module */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-slide-up {
  animation: fadeInSlideUp 0.9s ease-out;
}

/* globals.css */
@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-ExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
}



@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Regular-Italic.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Medium-Italic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Semibold-Italic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "OverusedGrotesk";
  src: url("/fonts/overused_grotesk/OverusedGrotesk-Bold-Italic.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: "OverusedGroteks", sans-serif;
}

html{
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
